@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}

.section_container {
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    margin: 200px auto;
    max-width: 260px;
    padding: 1.2em;
    border-radius: 1.25em;
}

.section_content {
    text-align: center;
}

img {
    border-radius: .8em;
    width: 100%;
}

.section_text {
    color: hsl(220, 15%, 55%);
}

